openapi: 3.0.0
info:
  version: 1.0.0
  title: AppGAP
servers:
  - url: 'https://appgap.itlabs.ar/v1'
paths:
  /auth/login:
    post:
      summary: 'Obtiene un token autenticandose con email y clave'
      operationId: loginUser
      tags:
        - auth
      requestBody:
        description: 'Parametros recibidos'
        content:
            'application/json':
                schema:
                    $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: 'Respuesta con Bearer Token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    AuthResponse:
        type: object
        required:
            - type
            - token
        properties: 
            type:
                type: string
            token:
                type: string
        examples: 
            type: 'bearer'
            token: 'Ng.lptA31_976YYUhQH2v8jLjk4mAaOFg5ne104S3fHLzu_D6k3ghacu-wBcX0g'
        
    Auth:
        type: object
        required:
            - email
            - password
        properties:
            email:
            type: string
            format: email
            password:
            type: string
        examples: 
            email: 'admin@admin.com'
            password: 'admin'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
security:
  - BasicAuth: []