openapi: 3.0.0
info:
  version: 1.0.0
  title: AppGAP
servers:
  - url: 'https://appgap.itlabs.ar/v1'
paths:
  /auth/login:
    post:
      summary: 'Obtiene un token autenticandose con email y clave'
      operationId: loginUser
      tags:
        - auth
      requestBody:
        description: 'Parametros recibidos'
        content:
            'application/json':
                schema:
                    $ref: '#/components/schemas/Auth'
                examples:
                    auth:
                        email: 'admin@admin.com'
                        password: 'admin'
      responses:
        '200':
          description: 'Sample response: Details about a user by ID'
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Auth:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
security:
  - BasicAuth: []